<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>/opt/wildfly/standalone/log/mnc.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/opt/wildfly/standalone/log/mnc.%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm:ss.SSS}|[%thread]|%-5level|%logger{35}|-%msg%n%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-FILE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING-FILE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING-FILE-ASYNC" />
    </root>

    <root level="ERROR">
        <appender-ref ref="ROLLING-FILE-ASYNC" />
    </root>

    <root level="DEBUG">
        <appender-ref ref="ROLLING-FILE-ASYNC"/>
    </root>

</configuration>