<div>
    <h1>Información detallada de Crc:</h1>

    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
          <div>
              <mat-form-field appearance="standard">
                  <mat-label>Nombre:</mat-label>
                  <input matInput value="{{ data.crcInfo.name }}" disabled=true>
              </mat-form-field>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div>
              <mat-form-field appearance="standard">
                  <mat-label>SSN:</mat-label>
                  <input matInput value="{{ data.crcInfo.ssn }}" disabled=true>
              </mat-form-field>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div>
              <mat-form-field appearance="standard">
                  <mat-label>Fecha de nacimiento:</mat-label>
                  <input matInput value="{{ data.crcInfo.dateOfBirth }}" disabled=true>
              </mat-form-field>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
</div>